<div class="card" [dir]="isRTL ? 'rtl' : 'ltr'">
  <div class="flex justify-content-between align-items-center mb-3">
    <p-toggleButton [(ngModel)]="isRTL" onLabel="RTL" offLabel="LTR" (onChange)="toggleDirection()">
      toggle</p-toggleButton>
    <button pButton label="حجز تذكرة جديدة" class="p-button-outlined" icon="pi pi-plus"></button>
  </div>

  <p-table #dt1 [value]="products" [paginator]="true" [rows]="1" [tableStyle]="{ 'min-width': '50rem' }"
    [rowsPerPageOptions]="[10, 20, 30]" [showCurrentPageReport]="true" [alwaysShowPaginator]="false"
    currentPageReportTemplate="عرض {first} إلى {last} من {totalRecords} سجل" [sortMode]="'single'"
    [globalFilterFields]="['user', 'ticketNumber', 'ticketPrice', 'activities', 'peopleCount', 'purchaseCount', 'ticketPdf']">

    <ng-template pTemplate="caption">
      <div class="flex justify-content-end">
        <p-iconField iconPosition="left" class="ml-auto">
          <p-inputIcon styleClass="pi pi-search" />
          <input pInputText type="text" [(ngModel)]="searchValue" (input)="onSearch($event)"
            placeholder="Search keyword" />
        </p-iconField>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>#</th>
        <th pSortableColumn="user">المستخدم <p-sortIcon field="user"></p-sortIcon></th>
        <th pSortableColumn="ticketNumber">رقم التذكرة <p-sortIcon field="ticketNumber"></p-sortIcon></th>
        <th pSortableColumn="ticketPrice">قيمة التذكرة <p-sortIcon field="ticketPrice"></p-sortIcon></th>
        <th pSortableColumn="activities">النشاطات <p-sortIcon field="activities"></p-sortIcon></th>
        <th pSortableColumn="peopleCount">عدد الأشخاص <p-sortIcon field="peopleCount"></p-sortIcon></th>
        <th pSortableColumn="purchaseCount">عدد مرات الشراء <p-sortIcon field="purchaseCount"></p-sortIcon></th>
        <th>التذكرة</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-product let-rowIndex="rowIndex">
      <tr>
        <td>{{ rowIndex + 1 }}</td>
        <td>
          <div class="d-flex flex align-items-center gap-2">
            <p-avatar [image]="product.userAvatar" shape="circle" size="large"></p-avatar>
            <div>
              <p class="mb-1">{{ product.user }}</p>
              <p>{{product.mobileNumber}}</p>
            </div>
          </div>
        </td>
        <td>{{ product.ticketNumber }}</td>
        <td>${{ product.ticketPrice }}</td>
        <td>
          <p-chip [label]="product.activities[0]" class="custom-chip"></p-chip>
        </td>
        <td>{{ product.peopleCount }}</td>
        <td>{{ product.purchaseCount }}</td>
        <td>
          <div class="flex align-items-center gap-2">
            <i class="pi pi-file-pdf" style="font-size: 1.5rem"></i>
            <span>تذكرة رقم {{ product.ticketNumber }}.pdf</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>

</div>