@import "../../scss-utils/_utils.scss";
@import "primeicons/primeicons.css";

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@function pxToRem($px) {
  @return calc($px / 16 * 1rem);
}

:host ::ng-deep {
  * {
    font-family: $font-neo;
  }

  .p-datatable-header,
  .main-conatianer {
    background-color: $bg-light;
    border: none;
    box-shadow: none;
    padding: 1rem;
  }

  .p-datatable-wrapper {
    background-color: #fff;
    padding: $fs-8;
    border-radius: $fs-8;
    overflow: hidden;
  }

  .p-datatable {
    border-radius: $fs-8;
    overflow: hidden;
  }

  .search-input.p-inputtext {
    margin: pxToRem(20);
    border: solid pxToRem(1) rgba(146, 161, 173, 0.4);
    border-radius: $fs-8;
    width: pxToRem(278);
    height: pxToRem(36);
    transition: all 0.3s;
    outline: none;
    font-size: $fs-12;
    &:focus {
      border-color: rgba(146, 161, 173, 1);
    }
  }

  .search-icon {
    color: rgba(41, 45, 50, 1);
  }

  .p-datatable {
    thead {
      background-color: #e3e4e9;
      padding: $fs-10;
      margin: pxToRem(20);
      tr {
        th {
          color: #abaab1;
          font-size: $fs-14;
          font-weight: 400;
          padding: 1rem;
          text-align: center;
          .p-element {
            color: #292d32;
          }
        }
      }
    }

    tbody tr {
      border-top: pxToRem(1) solid $border-light;
      border-bottom: pxToRem(1) solid $border-light;

      td {
        padding: 1rem;

        .user-name {
          color: $text-dark;
          font-size: $fs-12;
        }
        .user-mobile {
          font-size: $fs-10;
          color: $text-light;
        }

        .custom-chip {
          background-color: #e6e1fc;
          border-radius: pxToRem(12);
          padding: pxToRem(4) $fs-8;
          font-size: $fs-13;
          font-weight: 400;
        }

        .p-avatar {
          width: $fs-32;
          height: $fs-32;
        }

        .pi-file-pdf {
          color: $primary-color;
        }
      }

      .row-number {
        color: #898995;
        font-size: $fs-14;
      }

      .ticket-number,
      .ticket-price,
      .table-cinema,
      .people-count,
      .purchase-count {
        font-size: $fs-13;
        color: $text-dark;
        font-family: $font-inter;
      }

      .table-cinema,
      .purchase-count {
        font-family: $font-neo;
      }

      .ticket-file {
        display: flex;
        font-size: $fs-12;
        font-weight: 500;
        gap: 0;
        .download-btn {
          transition: all 0.3s;
          background-color: transparent;
          border-radius: 0.3rem;
          &:hover {
            transform: scale(1.1);
          }
        }
        .ticket-icon-container {
          margin: 0;
          background-color: rgba($primary-color, 0.1);
          width: $fs-32;
          height: $fs-32;
          border-radius: $fs-8;
          @include flex-center;
        }

        .file-data {
          font-family: $font-inter;
          font-size: $fs-10;
          color: rgba(0, 0, 0, 0.4);
        }
      }
    }
  }

  .p-paginator {
    padding: 1rem;

    .p-paginator-pages .p-paginator-page {
      border: none;
      border-radius: pxToRem(4.5);
      font-family: $font-inter;
      font-weight: 600;
      color: #7e8299;
      width: pxToRem(27);
      height: pxToRem(27);
      margin: pxToRem(4.8);

      &.p-highlight {
        background-color: #6366f1;
        color: #ffffff;
      }
    }

    .p-paginator-prev,
    .p-paginator-next {
      border: none;
      color: #7e8299;

      &.p-disabled {
        color: #d8d8e5;
      }
    }

    .p-paginator-last,
    .p-paginator-first {
      display: none;
    }
  }

  .p-inputtext {
    border-radius: pxToRem(20);
  }

  .p-button.reserv-btn {
    background-color: $primary-color;
    color: #ffffff;
    border: none;
    width: pxToRem(100);
    height: pxToRem(35);
    padding: pxToRem(13) pxToRem(10);
    border-radius: pxToRem(6);
    font-size: $fs-12;
    @include flex-center;
  }

  .search-icon {
    position: relative;
    right: pxToRem(48);
  }

  // RTL Changes
  [dir="rtl"] {
    .p-datatable .p-datatable-tbody tr td {
      text-align: center;
    }

    .p-paginator {
      .p-paginator-prev,
      .p-paginator-next {
        transform: rotate(180deg);
      }
    }

    .search-input {
      padding-right: pxToRem(40);
      text-align: right;
    }
  }

  // LTR Changes
  [dir="ltr"] {
    .p-datatable .p-datatable-tbody tr td {
      text-align: center;
    }

    .p-input-icon-left {
      position: relative;
    }

    .search-icon {
      left: pxToRem(48);
    }

    .search-input {
      padding-left: pxToRem(40);
      text-align: left;
    }
  }

  // LTR Button
  .p-togglebutton.p-button {
    background-color: #f8f9fa;
    border: pxToRem(1) solid #ced4da;
    color: #495057;

    &.p-highlight {
      background-color: #6366f1;
      border-color: #6366f1;
      color: #ffffff;
    }
  }
}
