@import "../../scss-utils/utils";

:host ::ng-deep {
  .card-item {
    $card-bg-color: rgba(138, 116, 249, 1);
    $card-border-radius: 12.5px;
    $card-padding: 1rem;
    $transition-duration: 0.3s;

    background: $card-bg-color url("/images/Mask\ group.svg") center/cover
      no-repeat;
    border-radius: $card-border-radius;
    font-family: $font-neo;
    text-align: center;
    color: #fff;

    .p-card {
      &-content {
        padding: 0;
      }

      &-title {
        font-size: $fs-14;
        font-weight: 500;
        margin-bottom: 1.2rem;
      }
    }

    .ticket {
      &-link {
        background-color: #fff;
        max-width: 14.125rem;
        min-height: 2.625rem;
        margin: auto;
        border-radius: 0.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: $fs-13;
        font-family: $font-inter;
        font-weight: 500;
        color: $text-dark;
      }

      &-date {
        font-size: $fs-12;
        margin-top: 0.5rem;
      }

      &-body {
        position: relative;
        border-bottom: dashed 3px rgba(255, 255, 255, 0.4);
        border-image: url("/images/dashed-border.svg") 4;

        &::before,
        &::after {
          content: "";
          position: absolute;
          background-color: $bg-light;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          bottom: 0;
        }

        &::before {
          left: -0.2rem;
          transform: translate(-100%, 50%);
        }

        &::after {
          right: -0.2rem;
          transform: translate(100%, 50%);
        }
      }

      &-footer {
        padding-top: 1rem;
        display: flex;
        justify-content: space-between;

        .left .qr {
          margin-left: 0.5rem;
          width: 5.13rem;
          height: 5.13rem;
          border-radius: 4px;
          overflow: hidden;
        }

        .right {
          @media (max-width: 400px) {
            flex-direction: column-reverse !important ;
            gap: 0.5rem;
          }
          .discount {
            font-size: $fs-14;

            &-num {
              font-size: $fs-18;
              font-family: $font-inter;
            }
          }

          .share-btn {
            background-color: transparent;
            border: 1px solid #fff;
            border-radius: 4px;
            color: #fff;
            padding: 4px 6px;
            font-size: $fs-12;
            transition: all $transition-duration;

            &:hover {
              box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
              transform: translateY(-2px);
            }
          }
        }
      }
    }

    .copy-btn,
    .trash-btn {
      background-color: transparent;
      transition: all $transition-duration;
      border-radius: 0.3rem;

      &:hover {
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transform: translateY(-2px);
      }
    }

    .copy-btn:hover {
      // background-color: #e0e0e0;
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }

    .trash-btn {
      position: absolute;
      top: -3rem;
      left: 0;

      &:hover {
        background-color: rgba(224, 224, 224, 0.2);
      }
    }
  }
}

// LTR Styles
.ticket-num {
  margin-right: 10px;
}

.back-btn img {
  transform: rotate(0deg);
}

// RTL Styles
[dir="rtl"] {
  .ticket-num {
    margin-left: 10px;
    margin-right: 0;
  }

  .back-btn img {
    transform: rotate(180deg);
  }

  .chart-info {
    text-align: left;
  }

  :host ::ng-deep {
    .p-dropdown {
      flex-direction: row;
    }

    .p-dropdown-items {
      text-align: start;
    }
  }
}

// LTR Styles
.ticket-body {
  &::before {
    left: -0.2rem;
    transform: translate(-100%, 50%);
  }

  &::after {
    right: -0.2rem;
    transform: translate(100%, 50%);
  }
}

.ticket-footer {
  .left .qr {
    margin-left: 0.5rem;
  }
}

.trash-btn {
  left: 0;
}

// RTL Styles
[dir="rtl"] {
  .ticket-body {
    &::before {
      right: -0.2rem;
      left: auto;
      transform: translate(100%, 50%);
    }

    &::after {
      left: -0.2rem;
      right: auto;
      transform: translate(-100%, 50%);
    }
  }

  .ticket-footer {
    .left .qr {
      margin-right: 0.5rem;
      margin-left: 0;
    }
  }

  .trash-btn {
    right: 0;
    left: auto;
  }

  .copy-btn {
    margin-left: 0.5rem;
    margin-right: 0;
  }
}
