<p-card header="عرض التذكرة الخاصة بالفيلم" styleClass="card-item">

  <div class="ticket-body">
    <p class="ticket-link">
      <button (click)="copyTicketLink()" class="border-0 me-2"><img src="/images/copy-icon.svg" alt=""></button>
      {{ticketLink()}}
    </p>
    <p class="ticket-date">{{createStringDate()}}</p>
  </div>
  <ng-template pTemplate="footer ">
    <footer class="ticket-footer d-flex justify-content-between align-items-end">

      <section class="left">
        <div class="qr">
          <qrcode [qrdata]="'Your data string'" [width]="82" [qrdata]="qrData()" [margin]="1"
            [errorCorrectionLevel]="'M'"></qrcode>
        </div>
      </section>
      <section class="right d-flex align-items-end  ">
        <button class="share-btn">
          مشاركة
        </button>
        <p class="discount my-0 gap-2 mx-4  d-flex flex-column">
          <span>خصم</span>
          <span class="discount-num">25%</span>
        </p>
      </section>
    </footer>
  </ng-template>
</p-card>