<main class="main-app-container" [dir]="layoutDirectionServiceService.isRTL() ? 'rtl' : 'ltr'">
  <div class="container-fluid bg-transparent">
    <header class="upper-section">
      <section class="header-controls">
        <button (click)="layoutDirectionServiceService.toggleDirection()" class="edit-btn">
          تعديل
          <span>
            <img src="images/edit.svg" alt="">
          </span>
        </button>

        <div class="ticket-info">
          <h1 class="ticket-num">تذكرة رقم #2342</h1>
          <button class="back-btn">
            <img src="images/arrow-right.svg" alt="">
          </button>
        </div>
      </section>

      <section class="data-section">
        <div class="card-container">
          <app-card></app-card>
        </div>

        <div class="chart-container">
          <div class="chart-data-container">
            <div class="dropdown-wrapper">
              <p-dropdown [options]="data" [(ngModel)]="selectedCity" optionLabel="name" placeholder="سنويا" />
            </div>
            <div class="chart-info">
              <h2 class="chart-header">إحصائيات إستخدام القسيمة</h2>
              <p class="chart-date">05 يوليو , 2023 - 05 أغسطس , 2023</p>
            </div>
          </div>
          <div class="chart-wrapper">
            <app-chart></app-chart>
          </div>
        </div>
      </section>
    </header>

    <section class="lower-section">
      <app-table></app-table>
    </section>
  </div>
</main>