@import "../../scss-utils/utils";

* {
  font-size: $font-neo;
}

.main-app-container {
  background-color: rgba(243, 245, 247, 1);
  width: 100%;
  height: 100%;
  padding: 30px;
  padding-top: 80px;
  .chart-container {
    width: calc((100vw / 3) * 2);
    height: 264px;

    .chart-header {
      font-size: 14px;
      color: rgba(28, 28, 40, 1);
    }
    .chart-data-container {
      height: 60px;
      border-radius: 8px 8px 0 0;
    }
    .chart-date {
      font-size: 14px;
      font-weight: 5 00;
      font-family: $font-inter;
      color: rgba(153, 161, 183, 1);
    }
  }
  .card-container {
    width: calc(100vw / 3);
  }
  .ticket-num {
    font-size: calc(16rem / 16);
    font-weight: 500;
  }
  .back-btn {
    background-color: rgba(231, 234, 237, 1);
    width: $fs-32;
    height: $fs-32;
    border-radius: $fs-8;
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }

  .edit-btn {
    background-color: rgba(249, 249, 249, 1);
    width: calc(78rem / 16);
    height: calc(34rem / 16);
    border-radius: (4rem/16);
    border: 1px rgba(233, 234, 234, 1) solid;
    font-size: $fs-14;
    color: rgba(28, 28, 40, 1);
    transition: all 0.3s;
    &:hover {
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
      transform: translateY(-2px);
    }
  }
}

:host ::ng-deep {
  .p-dropdown {
    flex-direction: row-reverse;
    background-color: red;
    background-color: rgba(250, 250, 250, 1);
    border-radius: 8px;
    border: 1px solid rgba(232, 232, 232, 1);
    .p-dropdown-label.p-inputtext {
      padding-top: 10px;
      padding-bottom: 10px;
      font-size: 12.11px;
      font-family: $font-neo;
      color: rgba(28, 28, 40, 1);
    }
  }
}
